body {
  margin: 0;
}
.head {
  background-color: #ebf1ff;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 650px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
.left {
  display: flex;
  gap: 45px;
}
.right {
  display: flex;
  gap: 1px;
}

.olx-logo > img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.motor {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.motor > p {
  display: inline-block;
  color: #000000;
  transition: color 0.3s ease;
  cursor: pointer;
}
.property {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.property > p {
  display: inline-block;
  color: #000000;
  transition: color 0.3s ease;
  cursor: pointer;
}

.sell-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.motor > p:hover {
  color: #3a77ff;
}
.property > p:hover {
  color: #3a77ff;
}

.login p {
  color: #000000;
  border-bottom: 2px solid #333333;
  padding-bottom: 2px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.login:hover p {
  border-bottom: 2px solid transparent;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.map-search-border {
  border: 1px solid black;
  width: 320px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
}
.map {
  width: 20px;
  margin: 5px;
  cursor: pointer;
}
select {
  border: none;
  padding: 0px 200px 0px 0px;
  height: 50px;
  font-size: 15px;
}
.main-search-bar > input {
  border: 1px solid black;
  width: 680px;
  height: 57px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0px 0px 0px 10px;
  font-size: large;
}
.search-button {
  border: 1px solid black;
  background-color: #002f34;
  display: flex;
  align-items: center;
  color: white;
  gap: 1px;
  margin: 10px;
  border-radius: 5px;
  padding: 5px 15px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: flex;
  text-align: center;
  cursor: pointer;
}
.search-logo {
  height: 20px;
  width: 20px;
  margin: 15px;
}
.search-join {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.categories-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  transition: color 0.3s ease;
}
.categories-wrapper > a:hover {
  color: #3a77ff;
}

.categories-wrapper a {
  color: #002f34;
  text-decoration: none;
  margin-right: 30px;
  font-size: 15px;
  align-self: center;
}

.categories-wrapper .all-categories {
  font-weight: bold;

  padding-right: 5px;
}
.pic-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 0px 0px;
}
.pic-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-menu {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.mobile-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  text-align: center;
}

.mobile-item img {
  height: 90px;
  width: 90px;
  padding: 30px 0px 0px 0px;
  cursor: pointer;
}

.mobiles-pic {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.sec-product-menu {
  display: flex;
  justify-content: left;
  margin-left: 667px;
  gap: 50px;
  align-items: center;
}

.mobiles-phones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1000px;
  padding: 19px 0px 20px 0px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.mobiles-phones > p {
  color: #2367fa;
}
.mobile-image {
  height: 320px;
  width: 310px;
  display: block;
  cursor: pointer;
}
.mobile-for-sell {
  margin: 0px;
}
.sell-border {
  border: 1px solid #ffffff8e;
  box-shadow: 0px 4px 8px rgba(68, 68, 68, 0.1);
  height: 167px;
  width: 307px;
  cursor: pointer;
}

.mobile-price {
  display: flex;
  justify-content: space-between;
  width: 90%;
  cursor: pointer;
  align-items: center;
  margin-bottom: 0;
  padding: 10px 0px 0px 0px;
}

.product-title {
  margin-top: 0;
  cursor: pointer;

  margin-bottom: 1px;
  font-size: 18px;
}

.mobile-price p {
  margin: 0;
  font-size: 25px;
  cursor: pointer;
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.pic-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 0px 0px;
}
.pic-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  width: 55%;
  margin: 0 auto;
  padding: 40px 0;
}

footer {
  background-color: #eef3f4;
  color: #333;
  font-family: sans-serif;
  font-size: 14px;
}

.footer-column h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 8px;
}

.footer-column a {
  text-decoration: none;
  color: #555;
}

.footer-column a:hover {
  color: #000;
}
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 14px;
  text-align: center;
  color: #333;
}
.icon-link > img {
  height: 20px;
  width: 20px;
}
